<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <p>
        <i>友情链接:</i>
        <ul>
          <li><a href="http://www.uperform.cn/scrum-certification-course/">优普丰敏捷学院Scrum认证培训教练</a></li>
          <li><a href="http://codingstyle.cn">中国软件匠艺小组</a></li>
          <li><a href="http://www.agilecoach.cn">UCAC认证中国敏捷教练</a></li>
          <li><a href="http://www.scrumchina.com/">Scrum中文认证国际培训</a></li>
        </ul>
      </p>
    </div>
    <div>
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=12010102000678" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://www.beian.gov.cn/img/ghs.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">津公网安备 12010102000678号</p></a>
      <br/>
      <!-- <p style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" >
      <a href="http://beian.miit.gov.cn">津ICP备2020009017号</a> -->  Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> 
      </p>
    </div>
  


    <%- partial('cnzz-analytics') %>
  </div>



</footer>