<div class="widget">
    <h3 class="widget-title">异地金融研发团队的敏捷实施策略-Top100Summit</h3>
    <iframe height=150 width=220 src="http://player.youku.com/embed/XODc3OTk3Nzc2" frameborder=0 allowfullscreen></iframe>

    <h3 class="widget-title">通过重构提高组织灵活性-百度技术沙龙</h3>
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100" height="64" id="cc_9879E3871335B9D99C33DC5901307461">
  	<param name="movie" value="http://p.bokecc.com/flash/player.swf?vid=9879E3871335B9D99C33DC5901307461&siteid=0575C033D2012A28&playerid=8F2D63EFE045C05C&playertype=1&autoStart=false" />
  	<param name="allowFullScreen" value="true" />
  	<param name="allowScriptAccess" value="always" />
  	<embed src="http://p.bokecc.com/flash/player.swf?vid=9879E3871335B9D99C33DC5901307461&siteid=0575C033D2012A28&playerid=8F2D63EFE045C05C&playertype=1&autoStart=false" width="220" height="150" name="cc_9879E3871335B9D99C33DC5901307461" allowFullScreen="true" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"/>
  	</object>

    <h3 class="widget-title">重构到管道式函数-软件匠艺小组</h3>
    <embed height="150" width="220" quality="high" allowfullscreen="true" type="application/x-shockwave-flash" src="http://static.hdslb.com/miniloader.swf" flashvars="aid=6146294&page=1" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash"></embed>
 
    <h3 class="widget-title">全球敏捷之旅2015天津站花絮</h3>
    <iframe class="video_iframe" style=" z-index:1; " src="http://v.qq.com/iframe/player.html?vid=q017527ptxx&amp;width=220&amp;height=150&amp;auto=0" allowfullscreen="" frameborder="0" height="200" width="300"></iframe>

    <h3 class="widget-title">全球敏捷之旅2017北京站《禅与复杂》演讲（2:59-3:56)</h3>
    <iframe style="height:100%; width:220px;overflow:hidden;" allowfullscreen="" scrolling="no" id="video_id" border="0" src="http://shangzhibo.tv/watch/4806548?player"></iframe>

 
</div>

<%- partial('_partial/archive', {pagination: config.archive, index: true}) %>