<div class="widget-wrap">
  <h3 class="widget-title">关于博主</h3>
  <div class="widget">
    <p>全球首位获得国际Scrum Alliance颁发Certified Scrum Trainer (CST认证培训师)和Certified Team Coach (CTC认证敏捷教练)双料导师级认证者。
      <a href="https://www.scrumalliance.org/get-certified/ctc-certification/conversations-with-ctcs/jacky-shen">国际Scrum Alliance对申导获得全球首位CTC认证团队教练的访谈</a>
    </p>
    <p>
      <img src="/about-me/certifications-of-JackyShen.png" width="100%">
    </p>
    <div class="article-more-link">
      <a href="/about-me">更多了解博主...</a>
    </div>
  </div>

  <div class="widget">
    <h3 class="widget-title">热门文章</h3>
    <ul>
      <li><a href="/2016/06/10/my-agile-coach-journey/">Jacky Shen's Agile Coach Journey</a></li>
      <li><a href="/2017/08/02/is-your-Scrum-lean-enough/">你的Scrum迭代够精益吗？看完就全明白了</a></li>
      <li><a href="/2017/04/07/what-is-agile-coach/">国际首位CTC认证者和你聊聊什么是敏捷教练</a></li>
      <li><a href="/2017/05/02/Agile-Coach-Mentoring-Program/">进阶敏捷教练与ScrumMaster培养辅导项目</a></li>
      <li><a href="/2017/01/31/planning-as-a-social-event-scaling-agile-at-lego/">以社交活动的方式做计划-乐高公司的规模化敏捷</a></li>
      <li><a href="/2018/01/21/new-csp-path-of-scrum-alliance-certifications/">2018年Scrum Alliance最新Certified Scrum认证和CSP体系</a></li>
      <li><a href="/2016/07/04/Refactoring-with-Loops-and-Collection-Pipelines/">利用集合管道对循环进行函数式重构</a></li>
      <li><a href="/2016/05/04/soft-skills-of-technical-leaders-and-managers">技术团队管理者的软技能</a></li>
      <li><a href="/2016/03/26/how-bright-career-path-of-scrummaster-and-agile-coach">敏捷教练和ScrumMaster的职业现在有多吃香？</a></li>
      <li><a href="/2016/03/26/my-agile-coach-journey">我是怎样成为敏捷教练的？</a></li>
      <li><a href="/2016/03/26/tips-to-certified-team-coach-application">申请Scrum联盟导师级Certified Team Coach认证的攻略秘籍</a></li>
      <li><a href="/2014/10/02/functional-programming-in-Python/">Python函数式编程</a></li>
      <li><a href="/2015/05/21/async-operations-in-form-of-sync-programming-with-python-yielding/">利用python yielding创建协程将异步编程同步化</a></li>      
      <li><a href="/lafable-cn/">适合重型企业的大型敏捷框架 LAFABLE</a></li>
      <li><a href="http://www.uperform.cn/recent-public-course/">近期Scrum联盟Scrum认证培训课程表</a></li>
    </ul>

  </div>


  <div class="widget">
    <h3 class="widget-title">59秒看懂敏捷Scrum开发</h3>
	  <div><iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=w3068s2la53" allowFullScreen="true"  width="100%"></iframe></div>
    <br/>

    <h3 class="widget-title">2017敏捷之旅北京站演讲--《禅与复杂》</h3>
    <iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=b3158b5nr9v" allowFullScreen="true" width="100%"></iframe>

  </div>

  <div class="widget">
    <h4><a href="/about-me/">更多视频在这里</a></h4>
  </div>


</div>
