<div class="widget-wrap">
  <h3 class="widget-title">Follow me!</h3>
  <div class="widget" xmlns:wb="http://open.weibo.com/wb">
    <wb:follow-button uid="1001863751" type="red_3" width="100%" height="64" ></wb:follow-button>
    <p>全球首位获得国际Scrum Alliance颁发Certified Scrum Trainer (CST认证培训师)和Certified Team Coach (CTC认证敏捷教练)双料导师级认证者。
      <a href="https://www.scrumalliance.org/get-certified/ctc-certification/conversations-with-ctcs/jacky-shen">国际Scrum Alliance对申导获得全球首位CTC认证团队教练的访谈</a>
    </p>
    <p>
      <img src="http://res.uperform.cn/certifications-of-JackyShen.png" width="100%">
    </p>
    <div class="article-more-link">
      <a href="/about-me">更多了解博主...</a>
    </div>
  </div>

  <div class="widget">
    <h3 class="widget-title">热门文章</h3>
    <ul>
      <li><a href="/2016/06/10/my-agile-coach-journey/">Jacky Shen's Agile Coach Journey</a></li>
      <li><a href="/2017/08/02/is-your-Scrum-lean-enough/">你的Scrum迭代够精益吗？看完就全明白了</a></li>
      <li><a href="/2017/04/07/what-is-agile-coach/">国际首位CTC认证者和你聊聊什么是敏捷教练</a></li>
      <li><a href="/2017/05/02/Agile-Coach-Mentoring-Program/">进阶敏捷教练与ScrumMaster培养辅导项目</a></li>
      <li><a href="/2017/01/31/planning-as-a-social-event-scaling-agile-at-lego/">以社交活动的方式做计划-乐高公司的规模化敏捷</a></li>
      <li><a href="/2018/01/21/new-csp-path-of-scrum-alliance-certifications/">2018年Scrum Alliance最新Certified Scrum认证和CSP体系</a></li>
      <li><a href="/2016/07/04/Refactoring-with-Loops-and-Collection-Pipelines/">利用集合管道对循环进行函数式重构</a></li>
      <li><a href="/2016/05/04/soft-skills-of-technical-leaders-and-managers">技术团队管理者的软技能</a></li>
      <li><a href="/2016/03/26/how-bright-career-path-of-scrummaster-and-agile-coach">敏捷教练和ScrumMaster的职业现在有多吃香？</a></li>
      <li><a href="/2016/03/26/my-agile-coach-journey">我是怎样成为敏捷教练的？</a></li>
      <li><a href="/2016/03/26/tips-to-certified-team-coach-application">申请Scrum联盟导师级Certified Team Coach认证的攻略秘籍</a></li>
      <li><a href="/2014/10/02/functional-programming-in-Python/">Python函数式编程</a></li>
      <li><a href="/2015/05/21/async-operations-in-form-of-sync-programming-with-python-yielding/">利用python yielding创建协程将异步编程同步化</a></li>      
      <li><a href="/lafable-cn/">适合重型企业的大型敏捷框架 LAFABLE</a></li>
      <li><a href="http://www.uperform.cn/recent-public-course/">近期Scrum联盟Scrum认证培训课程表</a></li>
    </ul>

  </div>


  <div class="widget">
    <h3 class="widget-title">通过重构提高组织灵活性-百度技术沙龙</h3>
	  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="100" height="64" id="cc_9879E3871335B9D99C33DC5901307461">
  	<param name="movie" value="http://p.bokecc.com/flash/player.swf?vid=9879E3871335B9D99C33DC5901307461&siteid=0575C033D2012A28&playerid=8F2D63EFE045C05C&playertype=1&autoStart=false" />
  	<param name="allowFullScreen" value="true" />
  	<param name="allowScriptAccess" value="always" />
  	<embed src="http://p.bokecc.com/flash/player.swf?vid=9879E3871335B9D99C33DC5901307461&siteid=0575C033D2012A28&playerid=8F2D63EFE045C05C&playertype=1&autoStart=false" width="220" height="150" name="cc_9879E3871335B9D99C33DC5901307461" allowFullScreen="true" allowScriptAccess="always" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"/>
  	</object>
  </div>

  <div class="widget">
    <h4><a href="/archives/">更多视频在这里</a></h4>
  </div>


</div>
